:root {
  --review-color: #ffc300;
  --like-color: #ef233c;
  --primary-color: #0077b6;
}

.stat-card {
  background-color: #f9f7f3;
  border-radius: 1rem;
  padding: 1.5rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  border: 1px wavy #f9f7f3;
  height: 100%;
  transition: transform 0.3s ease;
}
.stat-card:hover {
  transform: translateY(-5px) scale(1.05);
}
.stat-icon {
  font-size: 1.5rem;
  /* color: #0077b6; */
  margin-bottom: 0.5rem;
}
.likecss {
  color: var(--like-color);
}
.starcss {
  color: var(--review-color);
}
.stat-number {
  font-size: 2.5rem;
  font-weight: 700;
  /* color: #212529; */
}
.stat-label {
  font-size: 0.9rem;
  color: #6c757d;
}
.card-title {
  font-weight: 500;
  color: #495057;
}

.donut-chart {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: conic-gradient(
    var(--primary-color) 0% var(--camp-percent),
    var(--review-color) var(--camp-percent) var(--review-stop),
    var(--like-color) var(--review-stop) 100%
  );
  position: relative;
}
.legend-dot {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 8px;
}
.legend-dot.camp {
  background-color: var(--primary-color);
}
.legend-dot.review {
  background-color: var(--review-color);
}
.legend-dot.liked {
  background-color: var(--like-color);
}

.bar-chart {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.bar-row {
  display: flex;
  align-items: center;
}
.bar-label {
  width: 60px;
  font-size: 0.8rem;
  color: #6c757d;
}
.bar-wrap {
  flex-grow: 1;
  background-color: #e9ecef;
  border-radius: 5px;
}
.bar {
  height: 20px;
  background: linear-gradient(90deg, var(--review-color), #f9a620);
  border-radius: 5px;
  text-align: right;
  color: white;
  font-size: 0.8rem;
  /* padding-right: 8px; */
  line-height: 20px;
  position: relative;
  transition: width 750ms ease-out;
}
.bar::after {
  content: attr(data-count);
  position: absolute;
  right: 8px;
  top: 0;
}
