<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile</title>
  </head>
  <body>
    <h1>Username : <%= user.username %></h1>
    <h2>Email : <%= user.email %></h2>
    <p>Joined on: <%= formatDate(user.createdAt) %></p>
  </body>
</html>
